<%= render 'books/list',books: @books %>

<div class ="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table table-user-show">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user.id) do %>
          <%= image_tag @user.get_profile_image(80,80) %><br>
          <%= @user.name %>
          <% end %>
        </td>
        <td>
          <%= @book.title %>
        </td>
        <td><%= @book.opinion %></td>
        <td>
          <% if @book.user == current_user %>
          <%= link_to "Edit",edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
        <td>
          <% if @book.user == current_user %>
          <%= link_to "Destroy",book_path(@book.id),method: :delete,"data-confirm" => "本当に消しますか？" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>