<%= render 'books/list',books: @books %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_profile_image(80,80) %><br>
          <%= @user.name %>
          <% end %>
        </td>
        <td><%= link_to @book.title %></td>
        <td><%= @book.opinion %></td>
        <td>
          <% if @book.user_id == current_user.id %>
          <%= link_to "Edit",edit_book_path(@book), class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
        <td>
          <% if @book.user_id == current_user.id %>
          <%= link_to "Destroy",book_path(@book),method: :delete,"data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger"%>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
